body {
    font-family: "Hind Mysuru", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p.year {
    text-align: center;
    padding: 10%;
    margin: 0;
    font-size: medium;
}

div.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.profile {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
    width: 15%;
    font-size: medium;

    ul {
        margin: 5px;
    }

    h2 {
        text-align: center;
    }

    div.image {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img.my_image {
            margin: 5%;
            border: 1px solid;
            border-radius: 50%;
            height: 85%;
            width: 50%;
        }
    }

}

div.history {
    background-color: #f8f8f8;
    padding: 1%;
    width: 35%;
    display: flex;
    flex-direction: column;
    font-size: medium;

    h1 {
        border-bottom: 1px solid;
    }

    h2 {
        margin: 1%;
    }

    table {
        border: 1px solid;

        td.year {
            width: 20%;
            border: 1px solid;
        }

        td {
            border: 1px solid;
        }

        th {
            border: 1px solid;
            background-color: #dcdcdc;
        }
    }

    div.history_detail {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px;

        img {
            width: 5%;
            height: 6%;
            padding: 2%;
        }
    }
}