body {
    display: flex;
    justify-content: center;
    font-family: "Hind Mysuru", sans-serif;
    font-weight: 300;
    font-style: normal;
}

div.profile {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
    width: 250px;

    ul {
        margin: 5px;
    }

    h2 {
        text-align: center;
    }

    div.image {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img.my_image {
            margin: 10px;
            border: 1px solid;
            border-radius: 50%;
            height: 190px;
        }
    }

}

div.history {
    background-color: #f8f8f8;
    padding: 15px;
    width: 500px;
    display: flex;
    flex-direction: column;

    h1 {
        border-bottom: 1px solid;
    }

    h2 {
        margin: 10px;
    }

    table {
        border: 1px solid;

        td {
            border: 1px solid;
            padding: 5px;
        }

        th {
            border: 1px solid;
            background-color: #dcdcdc;
        }
    }

    div.history_detail {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px;

        img {
            width: 38px;
            height: 47px;
            padding: 7px;
        }
    }
}